node_modules
Homestead.yaml
Homestead.json
.env
/bootstrap
gulpfile.js
/nbproject
/nbproject/private/private.xml
/storage/

/public/media/pdf/lnt/download/
/public/media/pdf/downloads/
/public/media/images/fpl/downloads/
/public/media/images/navlog
/public/media/images/newaircraft
/public/media/pdf/fpl/signatures
/public/media/pdf/notams
/public/media/lr/
/public/media/pdf/navlog/
