.text-center {
    text-align: center
}

.multiple-date-picker .today {
    /*border-color: #333 !important;
    background: #333 !important;*/
    color: #555 !important;
}

.multiple-date-picker {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none border: 1px solid lightgray;
}

.multiple-date-picker,
.picker-days-row,
.picker-days-week-row,
.picker-top-row {
    width: 100%;
    font-size: .9em;
    font-weight: bold;
}

.picker-top-row>div {
    display: inline-block
}

.picker-navigate {
    width: 16.66%
}

.picker-navigate:hover {
    cursor: pointer
}

.picker-navigate.disabled,
.picker-navigate.disabled:hover {
    color: #ddd;
    cursor: not-allowed;
}

.picker-month {
    width: 66.66%
}

.picker-days-row>div,
.picker-days-week-row>div {
    width: 14.28%;
    display: inline-block;
    font-size: 12px;
}

.picker-day,
.picker-top-row {
    padding: 4px 0;
    border: 1px solid #dddddd;
    background: #000;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.picker-day {
    /*background-color: #fff;*/
    background-color: #e8f4f8;
    border: 1px solid #eee;
    box-sizing: border-box;
    color: #555;
}

.picker-day.today,
.picker-day.today.picker-off,
.picker-day.today.picker-off:hover,
.picker-day.today.picker-selected,
.picker-day.today:hover {
    color: #00a3ff
}

.picker-day:not(.picker-off):not(.picker-empty):hover {
    background-color: #333;
    color: #fff;
    cursor: pointer
}

.picker-day.picker-other-month.picker-selected {
    background: #fff !important;
    border: 1px solid #eee !important;
}

.picker-day.picker-selected {
    background-color: #8EC63F !important;
    color: #fff;
    border: 1px solid #fff !important;
}

.picker-day.picker-off,
.picker-day.picker-off:hover {
    background-color: #f9f9f9;
    color: #454545;
    cursor: default
}

.picker-day.picker-empty,
.picker-day.picker-empty:hover {
    background-color: #fff;
    cursor: default
}
