.popover-content {
    font-family: 'pt_sansregular';
}

.popover {
    width: 250px;
    background-color: #333;
    border: #eeeeee solid 2px;
    font-family: 'pt_sansregular';
    margin-top: 0px;
    text-align: center;
    color: white
}

.to-date-label-span {
    padding-left: 78px;
}

.watch-hours-row {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px;
    margin: 15px 5px;
    position: relative;
    float: left;
}

.watch-hours-row.previous-watch-hours {
    padding-top: 0px !important;
    text-align: center;
    font-size: 12px;
}

.watch-hours-row.form-section {
    width: 48%;
    padding-top: 30px;
    margin-top: 0px;
    height: 225px;
}

.watch-hours-form {
    margin: 15px 1%;
    width: 98%;
}

.note {
    color: red;
    padding-top: 21px;
    font-size: 12px;
    font-weight: bold;
}

.previous-title {
    font-size: 16px;
}

.table-header > th {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #888 !important;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background: #a6a6a6;
    border-radius: 2px 2px 0px 0px;
    margin-bottom: 15px;
    background: -moz-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: -webkit-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: -o-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: -ms-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: linear-gradient(to right, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#a6a6a6', GradientType=1);
}

.padd-0 {
    padding: 0px !important;
}
/*
#alldays {
    width: 54%;
    float: left;
    position: relative;
    margin-right: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 70px;
}
*/
.watch-input {
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    font-weight: bold;
}

.watch-input-date {
    text-transform: none;
        word-spacing: 5px;
}

.remarks-section {
    margin-top: 30px !important;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.watch-hours-title {
    margin-top: 0px !important;
    /*background: #F26232;
    background: linear-gradient(to top, #fa9b5b, #F26232);
    background: #f1292b;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f37858', endColorstr='#f1292b');
    background: -webkit-gradient(linear, left top, left bottom, from(#f37858), to(#f1292b));
    background: -moz-linear-gradient(top, #f37858, #f1292b);*/
    background: -moz-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: -webkit-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: -o-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: -ms-linear-gradient(left, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    background: linear-gradient(to right, #a6a6a6 0%, #212121 50%, #a6a6a6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#a6a6a6', GradientType=1);
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px !important;
    text-transform: uppercase;
}

.remark-input-textarea {
    resize: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
}

.remark-input-textarea:focus {
    border-bottom: 1px solid #f1292b;
}

.watch-input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #f1292b;
}

.save-continue-btn {
    position: absolute;
    bottom: 15px;
    right: 10px;
    /*width: 15%;*/
}

.time-item {
    display: block;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.container-watchhours {
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 3px 3px 12px 0px #999;
    border-radius: 3px !important;
}

.result-section {
    border-top: 1px solid #ccc !important;
    border: 1px solid #888;
    border-radius: 6px;
    padding: 0px;
    margin-bottom: 50px;
    /*display: none;
    width: 44%;
    float: left;*/
}

.watch-hours-data {
    text-transform: uppercase;
    padding: 5px 15px;
}

.watch-hours-notam {
    /*height: 50px;*/
}

.watch-hours-output {
    max-height: 448px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.daterangepicker .calendar {
    width: auto !important;
    height: auto !important;
}

.daterangepicker .ranges {
    width: 100% !important;
    float: none !important;
}

.applyBtn {
    float: right;
    /* background: #f1292b !important; */
    /* border-color: #f1292b !important; */
    margin-right: 15px;
    height: 26px;
    line-height: 11px;
}

.cancelBtn {
    float: left;
    margin-left: 15px;
    height: 26px;
    line-height: 11px;
}

.cancelBtn:hover {
    color: #fff;
    background: #000;
}

.prev {
    left: 10px !important;
}

.reset {
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.p-lr-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.p-l-0 {
    padding-left: 0px;
}

.table-header >th,
.ui-menu .ui-menu-item:hover {
    border: 1px solid #ccc !important;
    background: #F26232;
    background: linear-gradient(to top, #fa9b5b, #F26232);
    background: #f1292b;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f37858', endColorstr='#f1292b');
    background: -webkit-gradient(linear, left top, left bottom, from(#f37858), to(#f1292b));
    background: -moz-linear-gradient(top, #f37858, #f1292b);
    color: #fff;
}

.ui-menu .ui-menu-item:hover {}

.save-continue-btn .save-btn {
    width: auto;
}

.ui-datepicker-trigger {
    display: none;
}

.form-input-block-time {
    height: auto !important;
}

.form-input-block-time label {
    font-size: 10px !important;
}

.form-input-block-time input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: normal;
    font-size: 10px !important;
}

.form-input-block-time input::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: normal;
    font-size: 10px !important;
}

.form-input-block-time input:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: normal;
    font-size: 10px !important;
}

.form-input-block-time input:-moz-placeholder {
    /* Firefox 18- */
    font-weight: normal;
    font-size: 10px !important;
}

.plus-icon {
    color: #fff;
    background: red;
    width: 20px;
    height: 20px;
    font-size: 13px;
    padding: 1px 5px;
    border-radius: 10px;
}

.timing-row {
    margin: 15px 0;
}
@media screen and (max-width:990px){
    .timing-row {
        margin-top: 30px;
    }
}
.submit-block {
    text-align: right;
    margin-bottom: 10px;
    padding-right: 15px;
}

.type-selection-row {
    margin: 5px 0;
    padding-left: 15px;
    font-size: 12px;
}

.item-strip {
    width: 100%;
    display: table;
    border-bottom: 1px solid #ccc;
    margin: 1px;
    padding: 2px 0px;
}

.item-strip:nth-child(odd) {
    background: #eee;
}

.item-strip-day-name {
    display: table-cell;
    vertical-align: middle;
    float: none;
    font-weight: bold;
    padding-right: 0px;
}

.item-strip-day-value {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.time-item:nth-last-child(1) {
    border: none;
}


/*placeholder css*/

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: normal;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: normal;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: normal;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-weight: normal;
}


/*end*/


/* label */

.dynamiclabel {
    display: block;
    position: relative;
    text-align: left;
    height: 50px;
}

.dynamiclabel label {
    position: absolute;
    color: red;
    font-size: 11px;
    font-weight: normal;
    background: transparent;
    /*            border: 1px solid #333;*/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-backface-visibility: hidden;
    top: 10px;
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    z-index: -1;
    line-height: 0px;
    white-space: nowrap;
}

.dynamiclabel > *:focus {
    border-color: #f1292b;
    -webkit-transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.dynamiclabel > *:focus + label {
    opacity: 1;
    z-index: 1;
    top: -6px;
}

.dynamiclabel > *:not(:placeholder-shown) + label {
    opacity: 1;
    z-index: 1;
    top: -6px;
}

.dynamiclabel [placeholder]::-webkit-input-placeholder {
    text-align: left;
    font-size: 11px;
}

.dynamiclabel [placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
}

.load-btn-block {
    float: right;
    text-align: right
}

.load-btn {
    /*height: 23px;*/
    padding: 4px 20px;
    font-size: 12px;
}


/* end */


/* Radio Button*/


/*
@-moz-keyframes ripple {
    5%,
    100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
}

@-webkit-keyframes ripple {
    5%,
    100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
}

@keyframes ripple {
    5%,
    100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    margin: 5px;
    padding-left: 28px;
}

input[type="radio"] + label:before,
input[type="radio"] + label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="radio"] + label:before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #f1292b;
    -moz-box-shadow: inset 0 0 0 18px #E0E0E0;
    -webkit-box-shadow: inset 0 0 0 18px #E0E0E0;
    box-shadow: inset 0 0 0 18px #E0E0E0;
}

input[type="radio"] + label:after {
    top: 49%;
    left: 9px;
    width: 54px;
    height: 54px;
    opacity: 0;
    background: rgba(241, 41, 43, 0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

input[type="radio"]:checked + label:before {
    -moz-box-shadow: inset 0 0 0 4px #E0E0E0;
    -webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
    box-shadow: inset 0 0 0 4px #E0E0E0;
}

input[type="radio"]:checked + label:after {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-animation: ripple 1s none;
    -webkit-animation: ripple 1s none;
    animation: ripple 1s none;
}

*/


/*End*/

input[type=radio] {
    -webkit-appearance: button;
    border: 1px solid #555;
    border-radius: 50%;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    outline: none;
    box-shadow: none;
}

input[type=radio]:hover {
    box-shadow: none !important;
}

input[type=radio]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #f1292b !important;
}

input[type=radio]:checked {
    border-color: #f1292b !important;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: red;
    outline: none;
    box-shadow: none;
}

input[type=radio]:hover {
    box-shadow: 0px 0px 5px #ff0000;
}

.time-selection-label {
    vertical-align: text-bottom;
    margin-bottom: 3px;
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;
}
