/* FPL - Flight Plan Style Begins Here */
::-webkit-input-placeholder {
    text-align: center;
    font-size:12px;
    text-transform:uppercase;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    font-size:12px;
    text-transform:uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    font-size:12px;
    text-transform:uppercase;
}

:-ms-input-placeholder {  
    text-align: center; 
    font-size:12px;
    text-transform:uppercase;
}

input, select {text-align:center;}
select.form-control {font-size:14px; color:#999c9c;-moz-appearance: window;-webkit-appearance: none;background: #ffffff url("../../media/ananth/images/dwnarrow.png") right center no-repeat; -moz-appearance: none;}


.form-control {z-index:0;}
.form-control:focus {
    border-color: #f1292b;}
.search-band {background: #e6e5e5;box-shadow: 0 3px 3px 0 #999;margin-bottom: 15px;padding: 25px 0 10px;}
.search-band .form-control {padding:6px;}
.plan-form {float: none;margin: 10px auto 20px;width:100%;}
.btmmargin {margin-bottom:25px;}
.search-band .mod-control {
    padding:0px;

}
.padsix {padding-left:6px;}
.padtwo {padding-left:2px;}
.padten {padding-left:10px;}
.padleight, .padreight {padding-left: 8px;}
.padlsix, .padrsix {padding-right:6px;}
.adjpad {padding-left: 10px;padding-right: 22px;}
.altnpad {padding-left:12px; padding-right:21px;}
.adjseven {padding-left:7px;}
.noleftpad {padding-left:0;}
.norightpad {padding-right:0;}
.rpadtwelve {padding-right:0; padding-left:12px;} 
.custom-col .mod-control {padding:0px;}
/*.plan-form img {
        margin: 0px auto;
}*/
.search {
    width:95%;
    margin: 0px auto;

}
.form-row {
    display: inline-block;
    width: 100%;
}
.form-row .form-row-left {
    float: left;
    width:90%;
}
.form-row .form-row-right {
    float: right;
    width:7%;
    padding-top: 9px;
    cursor: pointer;
}

.form-row .form-time-left {
    float: left;
    width: 43%;
}
.form-row .form-end-left {
    float: left;
    width:45%;
    margin-right: 5px;
}
.form-row .form-end-left:nth-child(2) {margin-right:0;}
.form-row .form-time-left {
    margin-right: 5px;
}
.form-row .form-time-right {
    float: right;
    width: 10%;
    padding-top: 9px;
}
.form-row .form-time-left:nth-child(2){margin-right:0;}
.form-row .search-time-left {
    width:28%;
}
.form-row .search-time-right {
    width:38%;
    vertical-align:middle;
    padding: 6px 0;
    color:#f1292b;
    text-align: center;
    font-weight:600;
}
.form-row .newtime {
    text-align: center;
    font-size: 14px;
}
.form-row .form-search-row-left {width:49%;margin-right:2%;float:left;}
.form-row .form-search-row-right {width:49%;float:right;}
.form-control:focus {
    box-shadow: none;
}
.form-row .form-time-right span {
    display: inline-block;
    width: 100%;
}
.smartprocess {
    display: none;
}
/* Tooltip Style Begins Here */
#tooltip {
    text-align: center;
    text-shadow: 0 1px rgba( 0, 0, 0, .5 );
    line-height: 1.5;
    color: #fff;
    background: #333;
    background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .6 ) ), to( rgba( 0, 0, 0, .8 ) ) );
    background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: -moz-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: -ms-radial-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: -o-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #fff;
    -webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    -moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    position: absolute;
    z-index: 100;
    padding: 15px;
}
#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    border-top-color: rgba( 0, 0, 0, .7 );
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}
#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #333;
    border-bottom-color: rgba( 0, 0, 0, .6 );
    top: -20px;
    bottom: auto;
}
#tooltip.left:after {
    left: 10px;
    margin: 0;
}
#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}
/* Tooltip Style Ends Here */

.process, .edit-processbtn {
    background: #f1292b; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */
    border: none;
    color: #ffffff;
    font-weight: bold;
    width:100%;
    text-align: center;
    text-transform:uppercase;
    padding:6px;
}
.noprocess {background:#929292;color:#000000;}
.noprocess:focus, .noprocess:hover {background: #f1292b !important; /* for non-css3 browsers */
                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858') !important; /* for IE */
                                    background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)) !important; /* for webkit browsers */
                                    background: -moz-linear-gradient(top, #f1292b, #f37858) !important; /* for firefox 3.6+ */}
.planned-form {
    border: 1px solid #c9c8c8;
    border-radius: 6px;
    padding: 15px;
    display:inline-block;
    box-shadow:3px 4px 5px 1px rgba(201,200,200,0.8);
    -webkit-box-shadow:3px 4px 5px 1px rgba(201,200,200,0.8);
    -moz-box-shadow:3px 4px 5px 1px rgba(201,200,200,0.8);
}

.edit-flight-plan {width:98%; float:none; margin:0px auto;}
.flight-plan fieldset {
    border: 1px solid #c9c8c8;
}
.flight-plan fieldset legend {
    display: inline-block;
    width: 15%;
    padding: 5px 10px;
    color: #262626;
    border: 1px solid #c9c8c8;
    border-bottom: 1px solid #c9c8c8;
    margin-left: 40px;
    font-size: 18px;
    background: #d8d8d8
}
.flight-plan fieldset legend span {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.field-rows {
    width:100%;
    margin: 0px auto;
}
.second-row {
    width: 95%;
    margin: 0px auto;
}
.field-group {
    margin:0px auto;
}
.labelTime {
    width: 80%;
    text-align: center;
    font-size: 13px;
}
.speed {
    width: 40%;
}
.route-row {
    float: none;
    margin: 0px auto;
}
.route-row .form-row-left {
    width: 90%;
}
.crewdetails {
    width: 19.66666667%;
}
.plan-view {
    float: none;
    margin: 10px auto;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    padding: 15px;
}
.plan-view h3 {
    color: #f1292b;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.plan-view p {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    margin-bottom: 15px;
}
.plan-btn-container {
    text-align: center;
}
.plan-btn {
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    background-color:#929292;
}
.plan-btn.active.focus, .plan-btn.active:focus, .plan-btn.focus, .plan-btn:active.focus, .plan-btn:active:focus, .plan-btn:focus {outline:none;}
.plan-btn-container .active {
    background: #f1292b; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */
    border: none;
    text-align: center;
}
.supplementry {
    border-right: 1px dotted #f1292b;
}
.push-row {
    padding-top: 24px;
}
.custom-row {
    width: 95%;
    margin: 0px auto;
}
.remarks .form-row-left {
    width: 96%;
}
.remarks .form-row-right {
    width: 4%;
}
.remarks textarea {
    resize: none;
}
.update-row {
    float: none;
    margin: 0px auto;
    text-align: center;
}
.edit-processbtn {
    text-align: center;
    float: left;
    width: 50%;
}
.mobileprocess {display:none;}
label.flytime {width:90%; text-align: center;font-size:13px; font-weight: normal;}

/* Box Shadow Effect */
.box {
    width: 100%;
    background: #FFF;
    margin:0px auto;
}
.shadow-effect {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-effect:before, .shadow-effect:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
}
.shadow-effect:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
}
.buttons {width:40%;margin:15px auto 10px;}
.btn-align {text-align:center;}
.edit-btn {background-color:#929292;font-weight:bold;font-size:14px; text-transform:uppercase;border:none;width:100%;color:#000000;}
.edit-btn:focus, .edit-btn:hover {background: #f1292b; /* for non-css3 browsers */
                                  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
                                  background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
                                  background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */outline:none;boder:none;}
.file-btn {font-weight:bold;font-size:14px;text-transform:uppercase;background: #f1292b; /* for non-css3 browsers */
           filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
           background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
           background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */border:none;width:100%;}
.process:focus, .process:hover, .file-btn:focus, .file-btn:hover {background:#929292;color:#000000;border:none; outline:none;}	
.edit-process-btn {background: #f1292b; /* for non-css3 browsers */
                   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
                   background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
                   background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */color:#ffffff;font-weight:bold; font-size:16px;}

.calendar-addon {padding:2px 6px;background-color:#ffffff;}
.mod-cal-addon {padding:2px 0;}
.calendar {width:28px; height:28px; background:url('../../media/ananth/images/calendar.png') no-repeat center center;display:block;}
.notam-notes, .supplementary, .fdtl-info {border-right:1px dotted #f1292b; text-transform:uppercase;font-size:12px;}
.notam-notes, .fdtl-info {border-right:none;}
.atc-section {font-size:14px;}
.notam-section {border-left:1px dotted #f1292b;height:250px;}
.atc-content  {border-right:1px dotted #f1292b;}
.atc-view h5, .notam-notes h5, .supplementary h5, .fdtl-info h5 {color:#f1292b;}
.atc-view h5 {font-size:16px;}
.notam-notes h5:nth-child(2) {color:#929292;}
.ist-hours {font-weight:bold;}
.supplementary, .fdtl-info {padding-bottom:20px;}
.custom-col {width:19%;}
.custom-col-route {width:43.3%; padding-left:10px;}
.alt-width {width:19.15%;}
.altwidth {width:16.4%;}
.altwidth:nth-child(3) {margin-right:20px;}
.nation span {text-align:center; font-size:12px;}
.edit-btn-section {width:100%; text-align:center;}
.edit-btn-section .col-md-2 {float:none;margin:0px auto;}
.novalue {visibility:hidden;}
.editbody {padding:20px; text-align: center; font-size:14px;}
.yesedit {float:none; margin:10px auto 0;}
/* End of Box shadow Effects */

/* Full Page Style Begins Here */
.flight-plan {width:100%; margin:0; padding:0;}
.flight-plan h4 {text-align:center;background:linear-gradient(to right, rgba(201, 200, 200, 0), rgba(201, 200, 200, 0.95), rgba(201, 200, 200, 0)); padding:5px 0;margin-bottom:35px; text-transform:uppercase;}
.flight-plan h4 span {color:#f1292b; font-weight:bold;}
.flight-row {float:none; margin:0px auto;}
.plan-row {width:100%; margin:0px; padding:0;}
.plan-row .plan-row-left {width:87%; float:left; margin-right:5px;}
.plan-row .plan-row-right {width:9%;float:left;}
.plan-row .plan-row-right .question{font-size:14px;top:7px;}
.plan-row .operator-left {width:90%;}
.plan-row .operator-right {width:8%;}
.flight-time {padding-top:15px;}
.divider { border: 0;height: 1px;background-image: linear-gradient(to right, rgba(201, 200, 200, 0), rgba(201, 200, 200, 0.95), rgba(201, 200, 200, 0));margin-bottom:15px;}
.plan-row .col-time {width:43%; float:left;}
.newtime {text-align: center;font-size:13px;color:#f1292b;font-weight:bold;}
.optname {width:20.2%;}
.optname:first-child {width:17.9%;padding-right:20px;}
.altstation {width:27.6%;padding-right:0;}
.code-width {width:12%;}
.code-width .code-left-width {width:90%;}
.code-width .code-right-width {width:4%;}
.per-width {width:10.59%;}
.per-width .per-left-width {width:84%;}
.addlinfo {border:1px solid #c9c8c8;border-radius:6px;padding:10px;margin-bottom:15px;}
.textalign {text-align:center;padding-top:7px;}
.addlinfo h5 {text-align:center;margin-bottom:15px;}
.addlinfo label {font-size:14px;}
.addlinfo input[type=checkbox] {margin-top:4px;}
.centalign, .jackalign {width:75%; margin:0px auto;}
label.suppinfo {width:69%; float:right;}
.midalign{width:80%; margin:0px auto;}
.jackalign input[type=checkbox] {width:35%;}
label.jackinfo {width:55%;float:right;}
.submit {text-align:center; float:none; margin:0px auto;}
.submit .submit-btn {background: #f1292b; /* for non-css3 browsers */
                     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
                     background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
                     background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */ outline:none;border:none;font-weight:bold; text-transform:uppercase;}
.submit .submit-btn:hover {background:#929292; color:#000000;font-weight:bold;}					 
.arrow-position {z-index:99999;}					 
.rule-arrow {margin-left:-20px;}
.mod-remark {padding-right: 0px;width:90.5%;}
.mod-process {width:9.3%;;padding:0 13px 0 5px}
.addlinfo-left {float:left;width:25%;}
.addlinfo-right {float: right;width: 75%;font-size: 14px;padding-left: 5px;font-weight: bold;}	
.plan-row .equip-box {width:96%;}		
.plan-row .equip-box-right {width:2%;}
.trans-box {width:85%;}	
.places {width:17.5%;} 
.plan-row .pbn-left {width:94%;}
.plan-row .pbn-right {width:4%;}
.plan-row .pass-national {width:89%;}
.plan-row .dep-station, .plan-row .dest-station {width:99%;}
.places .plan-row-right {width:5%;}
.suppl-row {padding-top:15px; width:96.25%; margin:0px auto;}
.routes {width:67%;}
.dateoflight .input-group input.form-control {width:75%;}
.trans-mode {width:25.5%;}
/* Full Page Style Ends Here */
/* Dorp Down Style Begins Here */
#hour, #mins, #setspeed,#setspeedvalue, #national, #endhrs, #endmin, #rules, #total_hour, #total_mins {z-index:99;margin-bottom:0;padding:6px;}
.plan-row-left .fltypes, .plan-row-left .flrules {padding:6px 4px;}
.dropdown dd, .dropdown dt, .dropdown ul, .dropdowns dd, .dropdowns dt, .dropdowns ul, .speed dd, .speed dt, .modhrs ul, .modhrs dd, .modhrs dt, .modmin ul, .modmin dd, .modmin dt, .modmin ul, .nationality ul, .nationality dd, .nationality dt, .nationality ul, .endhrs ul, .endhrs dd, .endhrs dt, .endmin ul, .endmin dd, .endmin dt, .endmin ul, .flrules ul, .fltypes ul, .wtcat ul, .transmode ul, .tt-hrs ul, .tt-mins ul, .crfacility ul  { margin:0px; padding:0px; }
.endmin dt {text-align:left;}
.dropdown dd, .dropdowns dd, .speed dd, .level dd, .endhrs dd, .endmin dd, .nationality dd, .flrules dd, .fltypes dd  { position:relative; }
.dropdown a, .dropdown a:visited, .dropdowns a, .dropdowns a:visited, .speed a, .speed a:visited, .level a, .level a:visited, .endhrs a, .endhrs a:visited, .endmin a, .endmin a:visited, .nationality a, .nationality a:visited, .flrules a, .flrules a:visited, .fltypes a, .fltypes a:visited, .wtcat a, .wtcat a:visited, .transmode a, .transmode a:visited, .tt-hrs a, .tt-hrs a:visited, .tt-mins a, .tt-mins a:visited, .crfacility a, .crfacility a:visited { /*color:#999c9c;*/ text-decoration:none; outline:none;}
.dropdown a:hover, .dropdowns a:hover, .speed a:hover, .level a:hover, .modhrs a:hover, .modmin a:hover, .nationality a:hover, .endhrs a:hover, .endmin a:hover, .flrules a:hover, .flrules a:hover, .fltypes a:hover, .wtcat a:hover, .transmode a:hover, .tt-hrs a:hover, .tt-mins a:hover,  .crfacility a:hover, .crfacility a:hover { color:#999c9c;}
.dropdown dt a:hover, .dropdown dt a:focus, .dropdowns dt a:hover, .dropdowns dt a:focus, .speed dt a:hover, .speed dt a:focus, .level dt a:hover, .level dt a:focus, modhrs dt a:hover, .modhrs dt a:focus, .modmin dt a:hover, .modmin dt a:focus, .nationality dt a:hover, .nationality dt a:focus, endhrs dt a:hover, .endhrs dt a:focus, .endmin dt a:hover, .endmin dt a:focus, .flrules dt a:focus, .fltypes dt a:focus, .wtcat dt a:focus, .transmode dt a:focus, .tt-hrs dt a:focus, .tt-mins dt a:focus, .crfacility dt a:focus, .crfacility dt a:focus  {color:#999c9c;}
.dropdown dt a, .dropdowns dt a, .speed dt a, .level dt a, .modhrs dt a, .modmin dt a, .nationality dt a, .endhrs dt a, .endmin dt a, .flrules dt a, .fltypes dt a, .wtcat dt a, .transmode dt a, .tt-hrs dt a, .tt-mins dt a, .crfacility dt a {display:block;background:#fff url(../../media/ananth/images/dwnarrow.png) no-repeat center right;text-align:left; font-weight:normal; text-decoration:none; color:#999c9c;}
.dropdown dt a span, .dropdowns dt a span, .speed dt a span, .level dt a span, .modhrs dt a span, .modmin dt a span, .nationality dt a span, .endhrs dt a span, .endmin dt a span, .flrules dt a span, .fltypes dt a span, .wtcat dt a span, .transmode dt a span, .tt-hrs dt a span, .tt-mins dt a span, .crfacility dt a span {cursor:pointer; display:block; text-transform:uppercase; font-size:13px; vertical-align:middle;}
.flrules dt a, .fltypes dt a, .transmode dt a, .wtcat dt a, .crfacility dt a {text-align:center;}
.nationality dt a span, .flrules dt a span, .fltypes dt a span, .wtcat dt a span, .transmode dt a span, .tt-hrs dt a span, .tt-mins dt a span, .crfacility dt a span {font-weight:normal;}
.nationality dt a span {text-align:center;}
.dropdown dd ul, .dropdowns dd ul, .speed dd ul, .level dd ul, .modhrs dd ul, .modmin dd ul, .nationality dd ul, .endhrs dd ul, .endmin dd ul, .flrules dd ul, .fltypes dd ul,  .wtcat dd ul, .transmode dd ul, .tt-hrs dd ul, .tt-mins dd ul, .crfacility dd ul {background:#ffffff; border:1px solid #ccc; color:#C5C0B0; display:none;left:-7px; padding:5px 0px; position:absolute; top:8px;width:58px; list-style:none; z-index:99;height:300px; overflow-y:scroll;}
.modhrs dd ul {left:15px; top:59px; height:auto; overflow:auto;width:59px;}
.modmin dd ul {left:80px; top:59px;width:60px;}
.endhrs dd ul {left:-7px; top:8px; height:auto; overflow:auto}
.endmin dd ul {left:-7px; top:8px; width:59px;}
.dropdown dd ul {width:58px;}
.nationality dd ul {width:202px; overflow:auto;left:-7px; top:10px; height:auto;}
.pass-nation dd ul {width:190px;}
.crfacility dd ul {width:111px; overflow:auto;left:16px; top:34px; height:auto;}
.flrules dd ul{left:-7px; top:8px; overflow:auto; height:auto;width:137px;}
.fltypes dd ul {left:-13px; top:8px; overflow:auto; height:auto;width:136px;}
.wtcat dd ul, .transmode dd ul {left:16px; top:33px; overflow:auto; height:auto;width:129px;} 
.transmode dd ul {width:219px;}
.dropdowns dd ul, .level dd ul{height:auto;overflow-y: auto;width: 58px;}
.tt-hrs dd ul {left:6px; top:59px;width:63px;height:auto; overflow: auto;}
.tt-mins dd ul {left:74px;top:59px;overflow-x:scroll; height:300px;width:63px;overflow-x:auto; text-align:center}
.nationality dd ul li a {text-align:center; text-transform:uppercase;}
.speed {width:100%;padding:6px 6px 6px 8px;}
.speed dt a, .level dt a {background-position:25px 5px;}
.dropdown span.value, .dropdowns span.value, .speed span.value, .level span.value, .nationality span.value, .flrules span.value, .fltypes span.value { display:none;}
.dropdown dd ul li a, .dropdowns dd ul li a, .speed dd ul li a, .level dd ul li a, .modhrs dd ul li a, .modmin dd ul li a,  .endhrs dd ul li a, .endmin dd ul li a, .nationality dd ul li a, .flrules dd ul li a, .fltypes dd ul li a, .wtcat dd ul li a, .transmode dd ul li a, .tt-hrs dd ul li a, .tt-mins dd ul li a, .crfacility dd ul li a { padding:0px; display:block; text-align:center; text-decoration:none; font-weight:600;}
.dropdown dd ul li a:hover, .dropdowns dd ul li a:hover, .speed dd ul li a:hover, .level dd ul li a:hover, .modhrs dd ul li a:hover, .modmin dd ul li a:hover, .endhrs dd ul li a:hover, .endmin dd ul li a:hover, .nationality dd ul li a:hover, .flrules dd ul li a:hover, .fltypes dd ul li a:hover, .wtcat dd ul li a:hover, .transmode dd ul li a:hover, .tt-hrs dd ul li a:hover, .tt-mins dd ul li a:hover, .crfacility dd ul li a:hover { background-color:#f1292b; color:#ffffff; font-weight:bold;}
.speed dd ul, .level dd ul {height:auto;left:-7px; overflow:auto;width:56px;top:8px;}
.speed a, .speed a:visited, .level a, .level a:visited {text-align:left; padding:0 10px 0 0px; font-weight:normal;}
.form-row .speed-left {width:37%;}
.form-row .speed-right {width:57%;}
.cust-flytime {width:17%;}
.cust-flytime .form-row .search-time-left {width:45%;}
.cust-flytime .form-row .search-time-right {width:47%;padding-top:0;}
.cust-col .form-group, .cust-flytime .form-group {margin-bottom:10px;}
.nation {padding-top:6px;padding-left:0px; font-size:14px;}
.forwidth {width:31.9%;}
.for-nation {padding:6px;}
dl.endhrs, dl.endmin {margin-bottom:0;padding:6px;}
.endurance {width:17%;}
.endtime {vertical-align:text-top;}
.form-row .end-left, .form-row .end-right {width:45%;}
.endurance label {margin-bottom:0;}
.fremark {width:50.66666667%}
.endurance .form-group, .firtime .form-group, .fremark .form-group {margin-bottom:5px;}
.plan-row .route-left {width:95%;margin-right:6px;}
.plan-row .route-right {width:4%;}
.plan-row .speed-in-left, .plan-row .level-in-left  {width:40%;}
.plan-row .speed-in-right {width:53%;}
.plan-row .level-in-right {width:46%;}
.dept-time {width:95%; margin:0px auto;}
.plan-row .dep-time {width:45%; float:left;}
.plan-row .dep-tooltip {width:2%; float:right;}
.plan-row .fir-left {width:90%;}
.plan-row .fir-right {width:6%;}
.plan-row .facility-left {width:82%;}
.plan-row .remarkleft {width:97%;}
.plan-row .remarkright {width:2%;}
.equip-row {padding-top:5px;vertical-align:middle;}
.plan-row .equip-left {width:41%; margin-right:4px;}
.plan-row .equip-right {width:42%; margin-right:0px;}
.plan-row .equip-left label, .plan-row .equip-right label {font-weight: normal;font-size: 14px; vertical-align: middle; padding-left: 5px;}
.plan-row .equip-tip {margin-top:-4px;}
.plan-row .tft-right, .plan-row .end-right {width:6%;}
.ffp-row {width:90%; margin:0px auto;}
.slcol {width:18%;}
.slcols {padding-left:0;width:15%; padding-right:0;}
.padthree {padding-left:3px;}
.plan-row .slright {width:0%;}
.routecol {width:64%;}
.firtime {padding-left: 9px;width: 32.333333%;}
.lessrightpad {padding-right:6px;}
.dinghies {float:none; margin:0px auto;}
.morepad {padding-left:19px;}
.places .form-group {margin-bottom:30px;}
.padseven {padding-left:7px;}
.padeleven {padding-right:11px;}
.depart_hrs dd ul, .depart_mins dd ul {width: 64px;}
.speed-dpdown dd ul {width:59px;}
.level-dpdown dd ul {width: 60px;}
.weight {width:16%;}
/* Drop Down Style Ends Here */
/* My Account Page Style Begins Here */
.count-row:nth-child(1), .count-row:nth-child(2) {width:30%;margin-right:32px;} 
.count-row:nth-child(3) {width:33.33333333%;}
.count {border:1px solid #c9c8c8;border-radius:6px; width:100%; display:inline-block; padding:15px;margin-bottom:20px;}
.count-text {color:#f1292b; font-size:14px;font-weight:bold; text-align:center;}
.count-text span {display:block; text-align:center;}
.counter {display:inline-block; background: #f1292b; /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
          background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */ padding:5px; width:100%;}
.counter span {padding:5px; background:#ffffff; color:#000000; float:left; margin-right:5px;text-align:center; width:100%; font-size:16px;}
.counter span:last-child {margin-right:0;}
.count .caption {padding-top:10px;}	
.searchbtn {width:60%;border-radius:0px 4px 4px 0;background: #f1292b; /* for non-css3 browsers */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
            background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */ border:none; height:33px;}
.destination {border-radius:4px 0 0 4px;}				 
.desk-view {width:100%; margin:0; padding:0; border:1px solid #c9c8c8;border-radius:6px;margin-bottom:15px;overflow:hidden; position:relative;border-left:none; border-right:none;margin:15px 0; border-bottom:none;}
.head {float:left;padding:15px; font-size:14px; font-weight:bold;display:block;}
.desk-plan>thead>tr>th, .desk-plan>tbody>tr>td {text-align:center;font-size:13px; vertical-align:middle; padding:0; border:1px solid #c9c8c8; padding:10px; text-transform:uppercase;}
.desk-plan>tbody>tr>td  {font-size:14px; vertical-align:middle;}
.dof {width:7%; text-align:center;}
.deptime {text-align:center; width:18%;}
.depart-time {width:100%; position:relative;}
.depart-time .mod-time {width:48%; float:left;}
.depart-time .time-icon {padding:4px 8px; vertical-align:middle; width:22%; float:left;display:inline-block;}
.depart-time .send {border:0;width:30%;float:right; height:30px; border:1px solid #c9c8c8; border-radius:0 4px 4px 0;}
.depart-time .mod-time .alt-time {border-radius:4px 0 0 4px; height:30px;}
.depart-time .time-icon {border-top:1px solid #ccc;border-bottom:1px solid #ccc;height:30px;cursor:pointer;}
/*.depart-time .sendbtn {border-radius:0 4px 4px 0;background: #f1292b; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
background: -moz-linear-gradient(top, #f1292b, #f37858); color:#ffffff;padding:6px; border:none;font-weight:700;}*/
.desk-plan {width:100%;margin-bottom:0;}
.desk-plan th{font-size:12px; text-align:center; position:relative;}
.desk-plan .form-control {height:30px;}
/*.ficadc {width:100%; position:relative;}*/
.fic-adc .fic {float:left; width:33%;}
.fic-adc .adc {float:left; width:43.9%; border-radius:4px 0 0 4px;}
.fic-adc .fic {margin-right:5px;}
.ficadc .send {float:right; width:20%; border:1px solid #c9c8c8; border-left:none; border-radius:0px 4px 4px 0; height:30px;}
.slno {width:1%;font-weight:bold;}
.dof {width:9%;font-weight:bold;}
.calsign {width:11%; font-weight:bold;}
.dpt {width:17%;}
.ficadc {width:18%;}
.ficadc .adc .form-control {border-radius:4px 0 0 4px;}
.weather {width:1%;}
.weather img {padding-top:5px;}
.weather a, .notam a, .pdf a {display:inline-block;}
.notam {width:5%;}
.notam img {padding-top:5px;}
.from, .to {width:5%; font-weight:bold;}
.pdf {width:1%;}
.pdf img {max-width:85%; padding-top:5px;}
.fildate {width:1%;}
.sendbtn {padding:6px; text-align:center;background:url('../../media/ananth/images/sendbtn.png') no-repeat center center;padding:6px; border:none;font-weight:700; text-indent:-9999px; box-shadow:none;}
.fildate .fldate {float:left;} 					 
.fildate .flmodify {width:50%; display:block; margin:0px auto;}
.calsign .csgn {float:right; margin-right:10px; font-weight:bold; font-size:14px; text-align:left; width:55%;}
.calsign .eye {width:20px; display:block;}
.calsign .preview {float:left;}
.table-hover>tbody>tr:nth-child(2n+1) {background:#f5f5f5;}
.table-hover>tbody>tr:hover, .table>tbody>tr.active:hover {background:#999;}
.table>tbody>tr>td>span {cursor:pointer;}
.dof .flightdate {float:left; width:5%; font-size:14px;}
.dof .delete {float:right;}
.delmodal {width:350px; text-align:center;}
.confrow {width:50%; margin:0px auto;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline:none; border:none;}

/* My Account Page Style Ends Here */
/* Beginning of Chnages as on 17-12-2015 */
.form-row .deskview {width:64%;}
.form-row .deskprocess {width:34%;}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {background: #f1292b; /* for non-css3 browsers */
                                                                              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
                                                                              background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
                                                                              background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */ }
.callsign, .depfrm, .destto {font-weight: bold;}					 
.success {width:66%; margin:10px auto; text-align: center;color:#f1292b;}
.success .success-left {float:left;width:85%;}
.success .success-left p {margin-bottom:0; line-height: normal;}
.success .success-left p span {color:#222222;}
.success .success-right {float:right; width:11%; text-align: left;}
.animated {animation-duration:2s;}
.animated.custdelay {animation-iteration-count:3;-webkit-animation-iteration-count:3;}
.alternate {width:19%;}
.optname:nth-child(2) {width:14.9%;}
.optname:nth-child(3) {width:18.6%;}
.optname:nth-child(4) {width:19.4%;padding-left:27px; padding-right:15px;}
.cnfmessage p span {font-weight:bold;}
.natinality-left {float:left; width:10%;}
.nationality-right {float:right; width:75%; font-weight:600;}
.natpad {padding-left:10px; padding-right:11px;}
label.timedpt {width:60%;}
.ff-nation {padding-top:12px;}
.padten .plan-row .plan-row-left {width:92%;}
.padten .plan-row .plan-row-right {width:4%;}	
.credit {width:10.5%;padding-top:8px;}
.nocredit {width:12.9%; padding-top:8px;}
.credit label, .nocredit label {margin-left:10px;}
.equipment {width:10%; padding-top:8px;}
.equipment label {margin-left:10px;}
.accmsg {font-size:13px;}
/* End of Chnages as on 17-12-2015 */