 .sec_container{
        width:900px; 
       font-family:arial,sans-serif;
       margin-bottom: 15px;
        margin-top: 15px;
        background: #fff;
   }
   .sec_vrl{
     text-align: center;
    font-size: 14px;
    padding-top: 15px;
    font-weight: bold;

   }
   .sec_air{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
   }
   .p-lr-0{
    padding-left: 0;
    padding-right: 0;
   }
   .sec_wei{
    text-align: center;
   }
   .sec_wei1{
    padding-top: 15px;
    font-size: 15px;
    border: 2px solid #333;
    text-align: center;
    font-weight: bold;
   
   }
   .sec_ser>thead>tr>td{
    font-size: 12px;
     border-right: 1px solid #333;
    padding:0 5px;
    border:1px solid #333;
    font-weight: bold;
   }
   .sec_ser>tbody>tr>td{
    font-size: 13px;
    border-right: 1px solid #333;
    padding: 0;
     border:1px solid #333;
   }
   .sec_ser>tbody>tr>td:nth-child(1){
    text-align: left;
    text-align: center;
   }
   .sec_ser>tbody>tr>td:nth-child(2){
    text-align: left;
   }
   .sec_wt{
    padding-left: 50px;
    font-size: 12px;
   }
   .sec_wt1{
   padding-left: 133px;
   font-size: 12px;
   }
   .sec_wt2{
   padding-left: 51px;
   font-size: 12px;
   }
   .sec_wt3{
   padding-left: 65px;
   font-size: 12px;
   }
   