.sec-container{
	width: 900px;
	background: #fff;
	font-family: arial,sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
}
.sec_descr{
	width:650px;
	margin-left: 50px;
}
.sec_descr{
	border-top: 1px solid #333;
}
.sec_descr>thead>tr>th{
	
	border:1px solid #333;
	font-weight: bold;
	padding:0px; 
	text-align: center;
}
.sec_descr>tbody>tr>td{
	border:1px solid #333;
	padding: 0px;
	padding-left: 5px;
	font-size: 11px;
}
.sec-cond>tbody>tr>td{
	border:1px solid #333;
}
