
@font-face {font-family: 'FontAwesome';src: url('../../fonts/fontawesome-webfont.eot?v=3.2.1');src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight: normal;font-style: normal;}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../../fonts/pts55f-webfont.eot');
    src: url('../../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/pts55f-webfont.woff2') format('woff2'),
        url('../../fonts/pts55f-webfont.woff') format('woff'),
        url('../../fonts/pts55f-webfont.ttf') format('truetype'),
        url('../../fonts/pts55f-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'pt_sansregular', sans-serif;
    background: #eeeeee;
    font-size:14px;
}
body {
    color: #000 !important;
    font: 400 16px/20px 'pt_sansregular', sans-serif;
    -webkit-text-size-adjust: none;
    background: #eeeeee;
}
header {
    background: url("../../../media/images/header/bg-1.jpg") no-repeat 94% top;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.header-top {
    padding: 24px 48px 24px 40px;
    width: 100%;
    float: left;
}

.brand {
    float:left;
}
.header_contact-info {
    float:right;
    vertical-align: baseline;
    padding-top: 10px;
}
.header_contact-info dd {
    margin-bottom:3px;
}
.header_contact-info a {
    webkit-transition: 0.3s;
    transition: 0.3s;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.header_contact-info a:hover {
    color:#F1292B;
}
.header_contact-info dl {
    vertical-align: baseline;
    text-align: left;
    color: #555;
    font-size: 11px;
    padding-left: 35px;
    position: relative;
    display: inline-block;
}

.header_phone {
    line-height: 12px;
    top: -2px;
}
.header_address {
    margin-left: 11px;
}
.header_contact-info dl:before {
    position: absolute;
}
.header_phone:before {
    content: url("../../../media/images/header/icon-1.png");
    top: 9px;
    left: 3px;
    font-weight: bold;
}
.header_address:before {
    content: url("../../../media/images/header/icon-2.png");
    top: 10px;
    left: 8px;
}
header a[href^="callto:"] {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #222222;
}
header a[href^="mailto:"] {
    margin-top: 0;
    font-weight: bold;
    font-size: 13px;
    color: #222222;
}
header .nav {
    clear: left;
    position: relative;
    display: block;
    background: #F26232;
    /* background: linear-gradient(to top, #fa9b5b, #F26232); */
    background: #f1292b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858));
    background: -moz-linear-gradient(top, #f1292b, #f37858);
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header-left-menu {
    display: block;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header-left-menu:before, .header-left-menu:after {
    display: table;
    content: "";
    line-height: 0;
}
.header-left-menu>li {
    position: relative;
    float:left;
}

.header-left-menu > li > .header-menu-with-ul {
    position: relative;
}
.header-left-menu>li> .header-menu-with-ul:before {
    position: absolute;
    left: 54%;
    top: 70%;
    margin-left: -6px;
    content: "\f0d7";
    font: 400 12px/12px "FontAwesome";
}

.header-left-menu:after {
    clear: both;
}

.header-left-menu>li>a {
    display: block;
    color: #eeeeee;
    font-size: 18px;
    line-height: 30px;
    padding: 8px 32px;
    letter-spacing: -0.6px;
    text-decoration: none;
}
.header-left-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 200px;
    margin-top: 0px;
    padding:0px;
    background:#eeeeee;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    box-shadow: 0 1px 1px;
    z-index: 9;

}
.services_dropdown:hover .services_submenu {
    display: block;
}

.header-left-menu ul > li >a {

    color: #222222;
    padding: 0 30px;
    font-size: 14px;
    line-height: 38px;
    text-decoration: none;

} 
.header-left-menu ul > li:hover {
    background: #F26232;
    /* background: linear-gradient(to top, #fa9b5b, #F26232); */
    background: #f1292b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858));
    background: -moz-linear-gradient(top, #f1292b, #f37858);    
}
.header-left-menu ul > li:hover a {
    color: #fff;
}
.header-left-menu > li > a:hover {
    color: #222222;
    background: #eeeeee;
}
.header-left-menu ul ul {
    position: absolute;
    top: 33%;
    left: 105%;
    width: 160px;
    margin-top: 0;
    padding: 20px 0;
    background: #333;
    z-index: 4;
}

.header-left-menu ul ul > li > a {
    color: #FFF;
    padding: 0 30px;
    font-size: 14px;
    line-height: 38px;
    font-weight: 300;
}
.header-left-menu ul ul > li > a:hover {
    color: #FFF;
    background: #F26232;
}
.time {
    margin-right: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #ffffff;
    right: 10% !important;
}
@media screen and (min-width:767px) and (max-width:992px) {
  .time {
    margin-right: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #ffffff;
    right:9% !important;
  }      
}
@media only screen and (min-width:768px) {
    .sform {
        position: absolute;
        top: 50%;
        right: 2%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.header-menu-with-ul {
    display: block;
}
.sup_sal_text {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
}
.user img{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top:0;
}
.highlight {
    background: #333;
}




.modal-container {width:375px;background-color:#ffffff;-moz-box-shadow: 0px 0px 5px 3px #343434;-webkit-box-shadow: 0px 0px 5px 3px #343434;
                  box-shadow: 0px 0px 5px 3px #343434;border-radius: 6px;z-index:9999;}
.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 80px;
    background: #FFF;
    -moz-box-shadow: 0px 0px 5px 3px #343434;
    -webkit-box-shadow: 0px 0px 5px 3px #343434;
    box-shadow: 0px 0px 5px 3px #343434;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-right: 0 !important;
    z-index:9999;
}
.prvplan{width:450px;}
.contpop {width:820px;}
.fdtlpop {width:630px;}
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}
.popupHeader {
    background: #f1292b; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #f1292b, #f37858); /* for firefox 3.6+ */
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    color: #ffffff;
}
.popupHeader .modal_close {
    position: absolute;
    right:-5px;
    top: -10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 26px;
    border-radius: 50%;
    background:#f1292b; 
}
.popupBody {
    padding:6px 20px 6px;
    color: #000;
    font-size: 14px;
    display:inline-block;
    width:100%;
}

/* User Login Form */

.user_login {
    display: block;
}
.user_login h5 {font-size:14px; text-align:center;}
.user_login label {
    display: block;
    margin-bottom: 5px;
    color: #4a4a4a;
    font-weight: bold;
}
.user_login input[type=text], .user_login input[type=email], .user_login input[type=password] {
    display: block;
    padding: 5px;
    border: 1px solid #DDD;
    color: #666;
    height: 36px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow:none;
}
.user_login input[type=text]:focus, .user_login input[type=email]:focus, .user_login input[type=password]:focus {border:1px solid #f1292b;}
.user_login input[type=checkbox] {
    float: left;
    margin-right: 5px;
    margin-top:3px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .user_login input[type=checkbox] {margin-top:4px;}
}
.user_login input[type=checkbox] + label {
    float: left;
}
.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}
.form-control {width:100%;}
.one_half {
    display: block;
    float: left;
    width: 50%;
}
.one_half.last {
    margin-left: 4%;
    text-align: right;
    width: 45%;
    outline: none;
}
.actbtns {width:50%; margin:0px auto;}

.red_button {
    background: #f1292b; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1292b', endColorstr='#f37858'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f1292b), to(#f37858)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #f1292b, #f37858);
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 8px 5px 10px;
    outline:none;
}
.one_half_row {
    width: 100%;
    display: inline-block;
    padding: 10px 0 0;
}







@media (min-width: 1200px) {
    .header-left-menu > li:first-child a {
        padding-left: 40px;
    }

}

@media (min-width:320px) and (max-width:767px) {
    .modal-container {
        width:85%;
    }
}
